.price {
    padding-top: 60px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(3, 45px) / repeat(2, 370px);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(22px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            top: 3px;
        }
        &-sum {
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }
        &-subtitle {
            font-size: 12px;
            grid-column: 1 / 3;
        }

    }
}